.user{
    background-image: url('/public/images/attractive.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

}

.logo4{
    height: 500px;
    width: 400px;
    margin-left: 500PX;
}
.logo4 h1{
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 210px;
    padding-top: 50px;

}


.form{
    height: 420px;
    width: 700px;
    border: 0px ;
    margin-top: 30px;
    background-color: rgba(241, 236, 236, 0.595);
    border: 1px white;
    border-radius: 18px;
}
.for{
    font-family: sans-serif;
    margin-top: 30px;
    
    
}
.for input{
    font-size: 25px;
    width: 630px;
    margin-top: 10px;
    margin-left: 30px;
}

.for button{
    margin-left: 250px;
    font-size: 20px;
    color: darkseagreen;
}


