.page{
    text-align: center;
    height: 100vh;
    width: 100%;
}
.nav{
    background-color: #edda74;
    height: 16vh;
    width: 100%;
    border: 1px solid;
    display: flex;
}
.nav h1{
    margin-left: 30px;
    margin-top: 40px;
    color: orange;
    font-family:sans-serif;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_body a{
        text-decoration: none ;
        align-items: center;
        justify-content: center;
}
.login_body button{
    margin: 10px;
}
.circle{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid green;
    margin-left: 10px;
    margin-top: 5px;
}
.loginOptions{
    background-image: url(/public/images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 84vh;
    border: 1px solid green;
}
.login_body{
    height: 200px;
    width: 500px;
    border: 1px solid;
    margin-left: 490px;
    margin-top: 200px;
    background-color: rgba(241, 236, 236, 0.595);
    border-radius: 18px;

}

.footer{
    height: 15vh;
    width: 100%;
    border: 1px solid;
    background-color: rgba(241, 236, 236, 0.95);
}


